<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row class="justify-content-center">
      <c-col lg="7" md="9" xl="6">
        <c-card class="mx-4">
          <c-card-body class="p-4">
            <form cForm [formGroup]="form">
              <h1>Inscription</h1>
              <p class="text-medium-emphasis">Créer votre compte</p>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input autoComplete="name" formControlName="nom"  cFormControl placeholder="Nom" />
              </c-input-group>

              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilUser"></svg>
                </span>
                <input autoComplete="name" formControlName="prenom"  cFormControl placeholder="Prénom" />
              </c-input-group>

              <c-input-group class="mb-3">
                <span cInputGroupText>@</span>
                <input autoComplete="email" formControlName="email" cFormControl placeholder="Email" />
              </c-input-group>

              <c-input-group class="mb-3">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input autoComplete="new-password" cFormControl formControlName="password"  placeholder="Password" type="password" />
              </c-input-group>
              <c-input-group class="mb-4">
                <span cInputGroupText>
                  <svg cIcon name="cilLockLocked"></svg>
                </span>
                <input autoComplete="new-password" cFormControl formControlName="confirmPassword"  placeholder="Repeat password" type="password" />
              </c-input-group>
              <div class="d-grid">
                <button cButton color="success" (click)="createAccount()">Créer mon compte</button>
              </div>
              <div class="d-grid mt-3">
                <button cButton color="light" routerLink="/user/login" >Se connecter</button>
              </div>
            </form>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>
  </c-container>
</div>
